{% extends "index.html" %}
{% block content %}
   <form method="POST">
    <label for="lga">Select LGA:</label>
    <select name="lga_id" required>
        {% for lga in lgas %}
            <option value="{{ lga.lga_id }}">
                {{ lga.lga_name }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Show Result</button>
</form>


{% if results %}
    <h3>Results:</h3>
    <table border="1">
        <tr>
            <th>Party</th>
            <th>Total score</th>
        </tr>
        {% for party, total in results %}
            <tr>
                <td>{{ party }}</td>
                <td>{{ total }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}